{{> header}}
<div class="container All-products">
    <div class="mt-4">
        <h3 class="text-center">Quản lý sản phẩm</h3>
        <table class="table mt-4">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Thương hiệu</th>
                    <th scope="col">Loại</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Giá khuyến mãi</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.title}}</td>
                    <td>{{this.brand}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.price}} VND</td>
                    <td>{{this.salePrice}} VND</td>
                    <td>
                        <a href="/admin/update/{{this._id}}" role="button">Cập nhật</a>
                    </td>
                    <td>
                        <a href="/admin/manage" role="button" data-toggle="modal" data-target="#exampleModal"
                            data-id="{{this._id}}">Xóa</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>


    </div>

</div>


{{!-- comfirm delete product --}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">XÁC NHẬN XÓA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa sản phẩm?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger">XÓA SẢN PHẨM</button>
            </div>
        </div>
    </div>
</div>
 <form id="delete-form"method="POST">
 </form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        let id;
        let deleteFrom = document.forms['delete-form'];
        $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        id = button.data('id');
    })
        const btn = document.querySelector('.btn-danger');
        btn.addEventListener('click', ()=>{
            deleteFrom.action = '/admin/'+ id +'?_method=DELETE';
            deleteFrom.submit();
        })

    })
</script>
{{> footer}}